@media screen {
    caption {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    #in table {
        width: 100%;
        margin-top: 20px;
    }
    tr {
        width: 100%;
    }
    td {
        width: 50%;
    }
    #pw {
        margin:0 auto;
        text-align: center;
    }
    #pw table {
        display: inline-block;
    }
    #in {
        width: 40%;
        margin:auto;
    }
    #td-pw-front, #td-pw-back {
        text-align: center;
    }
    #out {
        margin:0;
        padding:0;
    }
    #out div {
        margin: 0 auto;
        padding:0;
    }
    #out table {
        box-sizing: content-box;
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #out tr td {
        margin: 0;
        padding: 0;
    }

}